body { background-color:#0E0E0E; }
.container{
    margin-top: 100px;
}
.card{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}
.span{
    width: 100%;
}
.col-sm-10{
    margin-left: 3px;
}