<h3>New quote by author: </h3>     

<form (submit)='onSubmit($event,quoteForm)' #quoteForm='ngForm'>
  <div class="form-group">
    <label for="quote">Quote:</label>
    <input type="text" class="form-control" id="quote" name="quote"  required>
  </div>
  
  <button type="submit" class="btn btn-success" [disabled]='quoteForm.invalid' [ngStyle]="{'margin-right':'5px'}">Add</button>
  <button type="button" class="btn btn-outline-success" [routerLink]="['/']">Go back</button>
</form>

<hr>
      
 
  
  
  
  